# Dependencies
node_modules/
.pnpm-store/

# Build outputs
/dist
/build
/coverage
/.cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Environment variables
.env
plan_accion.md
proyecto-4-integrartec-2026.pdf

# Prisma
/prisma/*.db
/prisma/*.db-journal
/prisma/dev.db
/prisma/dev.db-journal

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Test artifacts
/test-results/
/coverage/

# NestJS / TypeScript
*.pid
*.seed
*.pid.lock
